.element__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29, 05px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 40px 0 38px 0;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}