/* Inter-Regular */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular"),
    url(./fonts/Inter-Regular.woff2) format("woff2"),
    url(./fonts/Inter-Regular.woff) format("woff");
}

/* Inter-Medium */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter-Medium"),
    url(./fonts/Inter-Medium.woff2) format("woff2"),
    url(./fonts/Inter-Medium.woff) format("woff");
}

/* Inter-Black */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Inter-Black"),
    url(./fonts/Inter-Black.woff2) format("woff2"),
    url(./fonts/Inter-Black.woff) format("woff");
}

.body {
  background-color: rgba(0, 0, 0, 1);
}

.page {
  margin: 0 auto;
  padding: 41px 0 60px;
  max-width: 1280px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .page {
    padding: 28px 0 36px;
  }
}

.content {
  max-width: 880px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .content {
    padding: 0 32px;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 0 19px;
  }
}

.header {
  max-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto 41px;
  padding: 0;
  max-width: 880px;
}

@media (max-width: 1023px) {
  .header {
    padding: 0 32px;
  }
}

@media (max-width: 767px) {
  .header {
    margin: 0 auto 36px;
    max-width: 320px;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 36px;
}

@media (max-width: 767px) {
  .header__logo {
    max-height: 56px;
    width: 103px;
    height: 24px;
  }
}

.profile {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}

.profile__info {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .profile__info {
    margin-left: 0;
  }
}

.profile__avatar {
  background-image: url(./images/mesto_avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  background-size: cover;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 767px) {
  .profile__name {
    min-width: 189px;
    min-height: 26px;
    margin: 22px auto 0;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
  }
}

.profile__activity {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 5px 0 0;
}

@media (max-width: 767px) {
  .profile__activity {
    margin: 14px 0 36px;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
  }
}

.edit-button {
  background-image: url(./images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: 18px;
  align-self: center;
}

@media (max-width: 767px) {
  .edit-button {
    width: 18px;
    height: 18px;
  }
}

.edit-button:hover {
  opacity: 0.6;
}

.add-button {
  background-image: url(./images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 767px) {
  .add-button {
    margin-left: 0;
    width: 282px;
  }
}

.add-button:hover {
  opacity: 0.6;
}


.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 18px;
  margin: 50px auto 0;
  padding: 0;
}

@media (max-width: 767px) {
  .elements {
    margin: 36px auto 0;
    line-height: 0;
  }
}

.element {
  margin: 0 auto;
  max-width: 282px;
  object-fit: cover;
  background-color: #FFFFFF;
  background-size: 282px 361px;
  border-radius: 10px;
}

.element__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 22px;
  margin: 0;
}

.element__image {
  width: 100%;
  margin: 0;
  padding: 0;
}

.element__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29, 05px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0 31px 0;
}

.like-button {
  width: 22px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-image: url(./images/like-button.svg);
  cursor: pointer;
}

.like-button:hover {
  opacity: 0.6;
}
  
.footer {
  margin: 71px auto 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .footer {
    margin: 48px auto 0;
  }
}

.footer__copyright {
  color: rgba(84, 84, 84, 1);
  margin: 0;
}

.popap {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, .5);
}

.popap__container {
  margin: 195px auto 0;
  position: relative;
  border: 1px solid rgba(175, 44, 44, 0);
  max-width: 500px;
  width: 100%;
  max-height: 370px;
  height: 100%;
}

@media (max-width: 767px) {
  .popap__container {
    max-width: 282px;
  }
}

.popap__profile {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px;
  padding: 0;
}

.popap__content {
  max-width: 430px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000;
  position: relative;
  padding: 34px 36px 37px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  margin: 40px auto 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .popap__content {
    max-width: 282px;
    max-height: 322px;
    margin: 123px auto 0;
  }
}

.popap__close {
  background: transparent url(./images/close_button_icon.svg) no-repeat center;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

.popap__close:hover {
  opacity: 0.6;
}

.popap__name {
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .5)!important;
  min-width: 356px;
  margin: 0 0 30px;
  border: none;
}

@media (max-width: 767px) {
  .popap__name {
    min-width: 238px;
  }
}

.popap__activity {
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .5)!important;
  min-width: 356px;
  margin: 0 0 48px;
  border: none;
}

@media (max-width: 767px) {
  .popap__activity {
    min-width: 238px;
  }
}

.popap__save-button {
  width: 358px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
  border: none;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popap__save-button {
    width: 238px;
  }
}

.popap__save-button:hover {
  opacity: 0.8;
}

.popap_is-active {
  display: block;
}