/* Inter-Regular */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular"),
    url(./fonts/Inter-Regular.woff2) format("woff2"),
    url(./fonts/Inter-Regular.woff) format("woff");
}

/* Inter-Medium */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Inter-Medium"),
      url(./fonts/Inter-Medium.woff2) format("woff2"),
      url(./fonts/Inter-Medium.woff) format("woff");
  }

  /* Inter-Black */

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Inter-Black"),
      url(./fonts/Inter-Black.woff2) format("woff2"),
      url(./fonts/Inter-Black.woff) format("woff");
  }

.body {
background-color: rgba(0, 0, 0, 1);
}

.page {
    margin: 0 auto;
    padding: 45px 0 60px;
    max-width: 1280px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    color: #FFFFFF;
}

@media (max-width: 767px) {
  .page {
    padding: 28px 0 36px;
  }
}

.content {
  max-width: 880px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .content {
    padding: 0 19px;
  }
}

.header {
  min-height: 74px;
  border-bottom: rgba(84, 84, 84, 0.7);
  margin: 0 auto 36px;
  padding: 0;
}

.profile {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}

.profile__info{
margin-left: 30px;
}

.profile__avatar {
  background-image: url(./images/mesto_avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  background-size: cover;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  display: flex;
}

.profile__activity {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 16px 0 0;
}

.edit-button {
  background-image: url(./images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: 18px;
  align-self: center;
}

.edit-button:hover {
  opacity: 0.6;
}

.add-button {
  background-image: url(./images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 767px) {
  .add-button {
  margin-left: 0;
  width: 282px;
  }
}

.add-button:hover {
  opacity: 0.6;
}


.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  margin: 75px auto 0;
  padding: 0;
}

.element {
  margin: 0 auto;
  max-width: 282px;
  overflow: hidden;
  object-fit: cover;
  background-color: #FFFFFF;
  background-size: 282px 361px;
  border-radius: 10px;
}

.element__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px 0 15px;
}

.element__image {
  width: 100%;
  object-fit: cover;
}

.element__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.like-button {
  width: 22px;
  height: 19px;
  background-position: center;
  background-color: transparent;
  border: none;
  background-image: url(./images/like-button.svg);
  cursor: pointer;
}

.like-button:hover {
  opacity: 0.6;
}

.footer {
margin: 67px auto 0;
padding: 0;
box-sizing: border-box;
}

.footer__copyright {
  color: rgba(84, 84, 84, 1);
}