.popup__body {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 1);
  width: 282px;
  height: 322px;
  padding: 26px 22px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 123px auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .popup__body {
    width: 430px;
    height: 330px;
    margin: 195px auto;
    padding: 36px;
  }
}