.popup__close {
  background: transparent url(../../../images/close_button_icon.svg) no-repeat center;
  width: 32px;
  height: 32px;
  transition: opacity .5s ease 0s;
  position: absolute;
  top: -40px;
  right: 0;

}

.popup__close:hover {
  opacity: 0.8;
}

@media screen and (min-width: 425px) {
  .popup__close {
    top: -40px;
    right: -40px;
  }
}